@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: rgb(105, 2, 105);
    color: white;
}

header{
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;

    /* cloudy effects ko */
    background: rgba(73, 2, 73, 0.75);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    transition: transform 0.4s ease, background-color 0.3s ease;
}

header.hide {
    transform: translateY(-100%);
}

header.scrolled {
    background: rgba(73, 2, 73, 0.75);
    backdrop-filter: blur(16px);
}

footer{
    text-align: center;
}

.logo{
    font-size: 3rem;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 10rem;
    font-weight: 1000;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover{
    color: violet;
    border-bottom: 3px solid white;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid white;
        border-bottom: 3px solid white;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid white;
    }
}

section1{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}
section{
    min-height: 45vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: rgb(105, 2, 105);
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: white;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid white;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid white;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: white;
}

.social-icons a:hover{
    color: white;
    transform: scale(1.3) translateY(-5px);
    background-color: violet;
    box-shadow: 0  0 25px white;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: white;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid white;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.1);
    background-color: violet;
    color: black;
    box-shadow: 0 0 25px white;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "software Developer";
    color: black;
    animation: words 10s infinite;
}

.typing-text span::after{
    content: "";
    background-color: transparent;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid white;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid violet;
    }
}

@keyframes words{
    0%, 20%{
        content: "Pinoy!";
    }
    21%, 40%{
        content: "Programmer!";
    }
    41%, 60%{
        content: "Gamer!";
    }
    61%, 80%{
        content: "Skilled Individual!";
    }
    81%, 100%{
        content: "Student!";
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}

/* Sections */

.section-title {
    font-size: 4rem;
    text-align: left;
    margin-bottom: 4rem;
}

/* Education Ko */
.education .edu-item {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 4rem;
}

.education img {
    width: 150px;
    border-radius: 1rem;
}

/* Skills Ko */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.skill-box {
    padding: 1.5rem 3rem;
    border: 2px solid white;
    background-color: black;
    border-radius: 2rem;
    font-size: 1.6rem;
    transition: 0.3s;
}

.skill-box:hover {
    transform: scale(1.1);
    box-shadow: 0  0 25px white;
    background: violet;
    color: black;
}

.skill-box::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.7;
}

.nocopy {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.skill-box:active::after {
    animation: burst 0.6s ease-out;
}

@keyframes burst {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0.8;
    }
    100% {
        transform: translate(-50%, -50%) scale(12);
        opacity: 0;
    }
}

/* Contacts Ko */
.contact-box {
    text-align: left;
    font-size: 2rem;
}

.contact-box i {
    margin-right: 1rem;
    color: white;
}

.contact-box a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.contact-box a:hover {
    color: violet;
    text-decoration: underline;
}

/* reveal animation watt */
.reveal {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp linear forwards;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}

/* Animations */
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Email copy ko */
.email-row, .phone-row {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 4rem;
    font-weight: 500;
}

.email-row i, .phone-row i{
    font-size: 2rem;
}

.email-link, .phone-link{
    color: white;
    text-decoration: none;
    transition: 1s;
    font-size: 2rem;
    font-weight: 700;
}

.email-link:hover, .phone-link:hover{
    color: violet;
    text-decoration: underline;
}

.copy-icon {
    font-size: 2rem;
    cursor: pointer;
    transition: 0.3s;
}

.copy-icon:hover {
    color: violet;
    transform: scale(1.2);
}

#copy-msg, #copy-msg2{
    font-size: 2rem;
    color: lightgreen;
    opacity: 0;
    transition: opacity 0.3s ease;
}